#title {
  text-align: center;
  font-style: normal;
  font-family: 'Open Sans Light',  sans-serif;
  font-weight: normal;
  font-size: 23pt;
  float: left;
  font-size: 30pt;
  color: #dddd00;
  margin-top: 100px;
  margin-bottom: 50px; }

body {
  padding: 0;
  margin: 0;
  background-color: #b0b0b0; }

fieldset {
  text-align: center;
  border: 0px; }

input {
  width: 470px;
  height: 50px;
  font-style: normal;
  font-family: 'Open Sans Light',  sans-serif;
  font-weight: normal;
  font-size: 23pt;
  float: left; }
