@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/OpenSans-Light-webfont.woff"); }
div#editor {
  z-index: 2;
  top: 0px;
  position: fixed; }
  div#editor ul {
    width: 10000000px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute; }
    div#editor ul li {
      float: left;
      border: white 1px solid;
      list-style: none;
      margin-left: 30px;
      margin-top: 20px;
      margin-bottom: 20px; }
      div#editor ul li img {
        transform: rotateZ(180deg); }
  div#editor .selected {
    border: yellow 1px solid; }

#cvs {
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: rotatez(180deg); }

#info {
  position: fixed;
  left: 20px;
  color: white;
  top: 200px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6); }

#usage {
  position: fixed;
  left: 20px;
  color: white;
  top: 500px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6); }

#panel {
  position: fixed;
  left: 20px;
  color: white;
  top: 20px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6); }

button {
  opacity: 0.4; }

body {
  padding: 0;
  margin: 0;
  background-color: #b0b0b0; }

.hide {
  display: none; }

#counter {
  position: fixed;
  left: 90%;
  top: 80%;
  z-index: 2;
  color: red;
  font-size: 30px; }

.data {
  user-select: none; }

tbody {
  user-select: none; }

tr {
  user-select: none; }

td {
  user-select: none; }
