h1 User home
img#title-logo src="images/fabnavilogo.gif"
- content_for( :js_include ) do
  script src="https://login.persona.org/include.js"
  =javascript_include_tag "application","authenticate", "keybind", "projectlist"
  javascript:
    CURRENT_USER = "#{current_user}";
    function boot(){
      Auth.init();
      ProjectList.init();
    }
-content_for( :css_link ) do
  =stylesheet_link_tag 'fabnavi'
=render partial: 'layouts/projects_list', :locals => {:projects => @projects}
