h1 User home
=link_to "Sign Out",destroy_user_session_path,  :id => "signout", :method => :delete
h2 edit
img#title-logo src="images/fabnaviLogo.gif"
=render partial: 'layouts/projects_list', :locals => {:projects => @projects}
