h1 User home
- content_for( :js_include ) do
  script src="https://login.persona.org/include.js"
  =javascript_include_tag "application","authenticate", "keybind", "projectlist"
  javascript:
    CURRENT_USER = #{{current_user.to_json || null}};
    function boot(){
      Auth.init();
      ProjectList.init();
    }
-content_for( :css_link ) do
  =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
=render partial: 'layouts/projects_list', :locals => {:projects => @projects}
