h1 Index Page
-if signed_in?
  =link_to "home", home_path
  =link_to "Sign Out",destroy_user_session_path,  :id => "signout", :method => :delete
-else 
  =render partial: 'layouts/sign_in_btn'
=render partial: 'layouts/projects_list', :locals => {:projects => @projects}

