=content_for( :js_include ) do

=content_for( :css_link ) do

h1  Create Project

=form_for(@project) do |f|
  .field
    =f.label :project_name
    =f.text_field :project_name
  .field
    =f.label :Commentary
    =f.text_field :Commentary

  .actions
    =f.submit "Create!"

